<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <label>이름 : <input type="text" name="name"><br></label>
        <label>전화번호 : <input type="tel" name="phone1"/> -
        <input type='tel' name=phone2/> -
        <input type='tel' name=phone2/>
        <br></label>
        <d1>애완동물</d1><br>
        <input type="radio" name="pet" value="dog"/>
        <label for="dog">강아지</label>
        <input type="radio" name="pet" value="cat"/>
        <label for="cat">고양이</label><br>
        <input type="checkbox" name="service" value="service1"/>
        <label for="service1">도그워킹</label>
        <input type="checkbox" name="service" value="service2"/>
        <label for="service2">가정돌봄</label><br>
        <lavel>날짜 : <input type='date'
        value='2020-10-01' /></lavel>
        </label><br>
        <d1>Pet land open 09:00 ~ close 19:00</d1><br>
        <input type="checkbox" name="time" value="time1"/>
        <label for="time1">09:00~10:00</label>
        <input type="checkbox" name="time" value="time2"/>
        <label for="time2">10:00~11:00</label>    
        <input type="checkbox" name="time" value="time3"/>
        <label for="time3">11:00~12:00</label><br>
        <input type="checkbox" name="time" value="time4"/>
        <label for="time4">13:00~14:00</label>
        <input type="checkbox" name="time" value="time5"/>
        <label for="time5">14:00~15:00</label>    
        <input type="checkbox" name="time" value="time6"/>
        <label for="time6">15:00~16:00</label><br>
        <input type="checkbox" name="time" value="time7"/>
        <label for="time7">16:00~17:00</label>
        <input type="checkbox" name="time" value="time8"/>
        <label for="time8">17:00~18:00</label>    
        <input type="checkbox" name="time" value="time9"/>
        <label for="time9">18:00~19:00</label><br>


        <!-- 우편번호 찾기 -->
        <input type="text" id="sample6_postcode" placeholder="우편번호">
        <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
        <input type="text" id="sample6_address" placeholder="주소"><br>
        <input type="text" id="sample6_detailAddress" placeholder="상세주소">
        <input type="text" id="sample6_extraAddress" placeholder="참고항목">
        
        <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>
            function sample6_execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        var addr = '';                            var extraAddr = ''; 
                        if (data.userSelectedType === 'R') { 
                            addr = data.roadAddress;
                        } else { 
                            addr = data.jibunAddress;
                        }
                        if(data.userSelectedType === 'R'){
                            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                extraAddr += data.bname;
                            }
                            if(data.buildingName !== '' && data.apartment === 'Y'){
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            if(extraAddr !== ''){
                                extraAddr = ' (' + extraAddr + ')';
                            }
                            document.getElementById("sample6_extraAddress").value = extraAddr;
                        
                        } else {
                            document.getElementById("sample6_extraAddress").value = '';
                        }
                        document.getElementById('sample6_postcode').value = data.zonecode;
                        document.getElementById("sample6_address").value = addr;
                        document.getElementById("sample6_detailAddress").focus();
                    }
                }).open();
            }
        </script>
    </form>

    
</body>
</html>