<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/reservation.css">
</head>
<body>
    <section id="form">
        <div class="sistemap">
            <p class="text-md">PETLAND > 예약하기</p>
        </div>
        <div class="container">
            <div class="title">
                <h1 class="text-extra-lg">예약하기</h1>
                <div class="line"></div>
            </div>
        </div>
    </section>
    <section id="login">
        <div class="container">
            <form action="/form" method="POST" class="text-md">

            <!-- name -->
            <label for="name"></label>
            <span class="name_main">이름</span><br>
            <input type="text" id="name" name="name"  required><br>

            <!-- phone  -->
            <label for="phone"></label>
                <span class="phone_main">전화번호</span><br>
                <input type="phone" id="phone" name="phone"><br>

            <!-- Pet -->
            <span class="pet_main">애완동물</span><br>
            <label class="pet_sub"> 
                <input type="radio" id="pet" name="pet" value="dog"/>강아지&nbsp;&nbsp;
                <input type="radio" id="pet" name="pet" value="cat"/>고양이
            </label>    
            <br><div class="subline"></div>
     
            <!-- service -->
            <span class="service_main">서비스</span><br>
            <div class="service">
                <input type="checkbox" name="service" value="walk"/>
                <span class="service_sub">산책&nbsp;</span>
                <input type="checkbox" name="service" value="home"/>
                <span class="service_sub">가정돌봄&nbsp;</span>
                <input type="checkbox" name="service" value="training"/>
                <span class="service_sub">훈련</span>
            </div><br>

            <!-- date -->
            <label for="date"></label>
                <span class="date_main">날짜</span><br>
                <input type='date' id="date" value='2020-10-01' name="date" /><br>

            <!-- time -->
                <d1 class="open">PetlandTime  09:00 ~ 19:00</d1><br>
            <div class="time_main">
                <label for="time"></label>   
                    <input type="checkbox" id="time" name="time" value="09"/>
                        <span>09:00~10:00&nbsp;</span>
                    <input type="checkbox" id="time" name="time" value="10"/>
                        <span>10:00~11:00&nbsp;</span>    
                    <input type="checkbox" id="time" name="time" value="11"/>
                        <span>11:00~12:00</span><br><br>
                    <input type="checkbox" id="time" name="time" value="13"/>
                        <span>13:00~14:00&nbsp;</span>
                    <input type="checkbox" id="time" name="time" value="14"/>
                        <span>14:00~15:00&nbsp;</span>   
                    <input type="checkbox" id="time" name="time" value="15"/>
                        <span>15:00~16:00</span><br><br>
                    <input type="checkbox" id="time" name="time" value="16"/>
                        <span>16:00~17:00&nbsp;</span>
                    <input type="checkbox" id="time" name="time" value="17"/>
                        <span>17:00~18:00&nbsp;</span>    
                    <input type="checkbox" id="time" name="time" value="18"/>
                    <span>18:00~19:00</span>
            </div>
            
            <!-- 우편번호 찾기 -->
            <span class="address_main">우편</span><br>
            <div class="address_main">
                <input class="address_sub"type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" name="address">
                <input class="address_sub_add" type="text" placeholder="우편번호" name="address">
                <label for="address"></label>
                    <input type="text" id="address" placeholder="주소" name="address">
                    <input type="text" id="address" placeholder="상세주소" name="address">
            
                    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                    <script>
                        function sample6_execDaumPostcode() {
                            new daum.Postcode({
                                oncomplete: function(data) {
                                var addr = '';                            var extraAddr = ''; 
                                if (data.userSelectedType === 'R') { 
                                    addr = data.roadAddress;
                                } else { 
                                    addr = data.jibunAddress;
                                }
                                if(data.userSelectedType === 'R'){
                                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                        extraAddr += data.bname;
                                    }
                                    if(data.buildingName !== '' && data.apartment === 'Y'){
                                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                    }
                                    if(extraAddr !== ''){
                                        extraAddr = ' (' + extraAddr + ')';
                                    }
                                    document.getElementById("sample6_extraAddress").value = extraAddr;
                                
                                } else {
                                    document.getElementById("sample6_extraAddress").value = '';
                                }
                                document.getElementById('sample6_postcode').value = data.zonecode;
                                document.getElementById("sample6_address").value = addr;
                                document.getElementById("sample6_detailAddress").focus();
                                }
                            }).open();
                        }
                    </script>
            </div><br>
                <!-- <input class="Enter" type="submit" value="Petsitter 예약하기"> -->
                <button class="Enter" type="submit">Petsitter 예약하기</button>
            </form>
        </div> 
    </section>
</body>
</html>