<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Petland</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/introduce.css') }}">
    <script src="https://kit.fontawesome.com/72c88d65e7.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <header id="header">
        <div class="container">
            <div class="header__logo">
                <p class="logo">
                    <span>Portfolio</span> Petland
                </p>
            </div>
            <div class="header__toggle">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
            </div>
            <div class="header__nav">
                <ul class="nav__menu">
                    <li class="nav__item about selected" data-link="#home">About</li>
                    <li class="nav__item service" data-link="#service">Service</li>
                    <li class="nav__item skills" data-link="#skills">Skills</li>
                    <li class="nav__item team" data-link="#team">Team</li>
                </ul>
            </div>
        </div>
    </header>
    <!-- Home -->
    <section id="home">
        <div class="container">
            <div class="home__video_container">
                <video width="680px" autoplay loop muted>
                    <source src={{url_for('static', filename="video/petland.mp4")}} type="video/mp4">
                </video>
            </div>
            <div class="home__description text-lg">
                <p>바로 돌봄, 예약 돌봄, 정기 돌봄까지</p>
                <p>언제 어디서든 원하는 방법으로</p>
                <p class="text-extra-lg last">펫시터 서비스를 예약할 수 있어요</p>
                <a href="https://petland.jjagu.com" target="_blank" class="button">펫랜드 바로가기 <span
                        class="home__ani">>></span></a>
            </div>
        </div>
    </section>
    <!-- Service -->
    <section id="service">
        <div class="container">
            <div class="service__img">
                <div class="slide">
                    <ul>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="tablet">
                </div>
            </div>
            <div class="service__desc text-lg">
                <p class="service__title">WHY PETLAND</p>
                <p>
                    회원가입없이 <span class="text-extra-lg">간편한 정보 입력</span>으로
                </p>
                <p>
                    전문 펫시터 예약 기능을 제공합니다.
                </p>
                <br>
                <p>
                    실시간 촬영 서비스도 제공해<br>
                    믿고 맡길 수 있습니다.
                </p>
            </div>
        </div>
    </section>
    </section>
    <!-- Responsive -->
    <section id="responsive">
        <div class="container">
            <div class="responsive__desc text-lg">
                <p>데스크탑, 태블릿, 핸드폰</p>
                <p>모든 기기에서 보기 편하도록</p>
                <p class="text-extra-lg">반응형 웹을 지원합니다</p>
            </div>
            <div class="responsive__img">
                <img src="{{ url_for('static', filename='img/responsive.png') }}">
            </div>
        </div>
    </section>
    <!-- Skills -->
    <section id="skills">
        <p class="text-extra-lg">펫랜드에서는</p>
        <p class="text-lg">이런 <span class="border">프로그래밍 언어와 도구</span>를 사용했어요</p>
        <div class="container">
            <div class="skills__left">
                <p class="text-lg">Languages</p>
                <ul class="skill__list text-md">
                    <div class="list__top">
                        <li>
                            <img src="{{ url_for('static', filename='img/html.png') }}">
                        </li>
                        <li>
                            <img src="{{ url_for('static', filename='img/css.png') }}">
                        </li>
                        <li>
                            <img src="{{ url_for('static', filename='img/javascript.png') }}">
                        </li>
                    </div>
                    <div class="list__bottom">
                        <li>
                            <img src="{{ url_for('static', filename='img/python.png') }}">
                        </li>
                        <li>
                            <img src="{{ url_for('static', filename='img/sql-server.png') }}">
                        </li>
                    </div>
                </ul>
            </div>
            <div class="skills__right">
                <div class="tools">
                    <p class="text-lg">Tools</p>
                    <ul class="tools__list text-md">
                        <li><span>Visual Studio Code</span></li>
                        <li><span>Flask</span></li>
                        <li><span>MariaDB</span></li>
                        <li><span>Docker</span></li>
                    </ul>
                </div>
                <div class="etc">
                    <p class="text-lg">ETC</p>
                    <ul class="etc__list text-md">
                        <li><span>Git</span></li>
                        <li><span>TeamUP</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Team -->
    <section id="team">
        <div class="container">
            <div class="team__desc">
                <div class="desc__img">
                    <img src="{{ url_for('static', filename='img/weare.png') }}">
                </div>
                <div class="desc__bubble">
                    <p>" 펫랜드를 기획한 우리는 동물들을 좋아하는 개발자입니다.<br>가상의 서비스이지만 실제로 고객님들에게 서비스하고, 우리가 이용한다는 마음으로 기획부터 개발까지 즐거운
                        마음으로 준비했습니다.<br>관심을 가지고 펫랜드 프로젝트를 봐주어서 감사합니다. "</p>
                </div>
            </div>
            <div class="team__members">
                <div class="member sa">
                    <p class="text-md">이소애 (팀장)</p>
                    <p class="text-sm">프론트엔드 담당</p>

                </div>
                <div class="member jh">
                    <p class="text-md">이종현</p>
                    <p class="text-sm">프론트엔드 담당</p>

                </div>
                <div class="member jc">
                    <p class="text-md">송종천</p>
                    <p class="text-sm">백엔드 담당 DBA</p>
                </div>
                <div class="member hs">
                    <p class="text-md">변해성</p>
                    <p class="text-sm">백엔드 담당</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <div class="footer__button">
                <a href=""><i class="fas fa-chevron-up"></i></a>
            </div>
            <div class="footer__content">
                <h1 class="text-lg white">펫랜드</h1>
                <i class="fas fa-paw"></i>
            </div>

        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/intro_scroll.js') }}"></script>
</body>

</html>