{% extends "base.html" %}

<head>
    {% block extrahead %}
    <title>Petland</title>
    <link rel="stylesheet" href="../static/styles/reservation2.css">
    {% endblock %}
</head>

<body>
    {% block section %}
    <section id="form">
        <div class="sistemap">
            <p class="text-md">PETLAND > 예약정보확인</p>
        </div>
        <div class="container">
            <div class="title">
                <h1 class="text-extra-lg">예약정보</h1>
                <div class="line"></div>
            </div>
        </div>
        <h2 class="check">예약확인</h2><br>
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>이름</th>
                    <th>반려동물</th>
                    <th>서비스</th>
                    <th>예약일</th>
                    <th>예약시간</th>
                    <th>펫시터</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ id | safe }}</td>
                    <td>{{ name | safe }}</td>
                    <td>{{ pet | safe }}</td>
                    <td>{{ service | safe }}</td>
                    <td>{{ date | safe }}</td>
                    <td>{{ time | safe }}</td>
                    <td>{{ petsitter | safe }}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <button class="Enter cancleBtn" type="button">예약 취소하기</button>
        </div>
    </section>
    {% endblock %}
    {% block script %}
    <script>
        const button = document.querySelector("cancleBtn");
        
    </script>
    {% endblock %}
</body>

</html>