{% extends "base.html" %}

<head>
    {% block extrahead %}
    <title>예약확인</title>
    <link rel="stylesheet" href="../static/styles/reservation_check.css">
    <script src="https://kit.fontawesome.com/72c88d65e7.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>

<body>
    {% block section %}
    <section id="form">
        <div class="sitemap">
            <p class="text-md">PETLAND > 예약조회/취소</p>
        </div>
        <div class="container">
            <div class="title">
                <h1 class="text-extra-lg">예약조회 / 취소</h1>
                <div class="line"></div>
            </div>
            <form action="" method="POST" class="text-md">
                <label for="name">이름</label>
                <input type="text" name="name" id="name" required>
                <br>
                <label for="phone">전화번호</label>
                <input type="tel" name="phone" id="phone" placeholder="123-4567-8910"
                    pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" required>
                <br>
                <div class="line"></div>
                <button type="submit" class="reservation_check__btn">
                    <span class="text-md">예약확인</span>
                </button>
            </form>
        </div>
    </section>
    {% endblock %}
</body>