@import url("reset.css");
/* --color-primary / white / dark-gray / gray / black */
/* .logo >.headline >.text-extra-lg >.text-lg >.text-md > .text-sm
   .white{color: var(--color-white);} */

 /* Main*/ 
#main{
    background: url(../img/main_home.png) center/cover no-repeat;
    width: 100%;
}   
#main .container {
    text-align: center;
    height: auto;
    padding-top: 20rem;
    color: --var(--color-white);
    height: 100vh;
    position: relative;
}

#main .container .text-lg:first-child{
    letter-spacing: 0.8rem;
    font-weight: 300;
    opacity: 0;
    animation: fadeup .5s forwards;
    animation-delay: .25s;
    color: var(--color-primary);
    font-weight: 700;
    text-shadow: 0px 1px 1px var(--color-gray);
}

.main__logo{
    font-size: 6rem;
    font-weight: 100;
    text-shadow: -4px 0.5px 5px var(--color-gray);
    margin: 45px 0;
    opacity: 0;
    animation: scale .5s forwards;
}

.separator{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    width: 100%;
    max-width: 8rem;
    height: 0.15rem;
    background-color: var(--color-white);
    position: relative;
    opacity: 0;
    animation: width 2s forwards;
    animation-delay: .3s;
}

.line:before{
    content: '';
    position: absolute;
    border: 0.6rem solid transparent;
    top: 50%;
    transform: translateY(-50%);
}
/* 
.line__left:before{
    border-left-color: var(--color-white);
    left: 0;
} */

.separator .fas{
    margin: 0 1rem;
    opacity: 0;
    animation: rotate .5s forwards;
    animation-delay: .7s;
    color: var(--color-primary);
}

#main .container .text-lg{
    margin: 45px 0;
}

.single-animation{
    opacity: 0;
    animation: fadedown .5s forwards;
    animation-delay: 1.2s;
}
.down_button{
    border: 1px solid var(--color-white);
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: fade 1s forwards;
    animation-delay: 1.2s;
}

.down_button i {
    line-height: 50px;
    font-size: 1.4rem;
}

/* About */
#about .about__inner{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#about .container{
    padding: 7rem 3rem 3rem;
}
.about__top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about__left{
    flex: 0.3;
}
.about__left .text-lg:first-child{
    margin: 10px 0;
    text-align: center;
}
.about__left .headline{
    text-align: center;
    margin-bottom: 20px;
}

.about__right{
    flex: 0.7;
    margin-left: 150px;
}

.line.color{
    width: 100%;
    max-width: 6rem;
    background-color: var(--color-primary);
}

.line.color:before{
    content: '';
    position: absolute;
    border: 0.6rem solid transparent;
    top: 50%;
    transform: translateY(-50%);
}

.separator .icolor{
    color: var(--color-primary);
    margin: 0 0.3rem;
}

.about__description{
    line-height: 1.6;
}
.about__bottom{
    width: 100%;
    height: 100%;
}

.slide{
    overflow: hidden;
}

.slide ul{
    width: calc(100% * 4);
    display: flex;
    animation: slide 8s infinite;
}

.slide li{width:calc(100% / 4);height:500px;}
.slide li:nth-child(1){background: url("../img/main_about_1.png") no-repeat center/cover;}
.slide li:nth-child(2){background: url("../img/main_about_2.png") no-repeat center/cover;}
.slide li:nth-child(3){background: url("../img/main_about_3.png") no-repeat center/cover;}
.slide li:nth-child(4){background: url("../img/main_about_4.png") no-repeat center/cover;}

/* Petsitter */

#petsitter .container{
    /* height: 100vh; */
    text-align: center;
}

.petsitter__top{
    margin-bottom: 80px;
}

.petsitter__top .text-lg{
    margin-bottom: 10px;
}

.petsitter__top .headline{
    margin-bottom: 20px;
}

.petsitter__cards{
    display: flex;
}

.card{
    margin: 0 1rem;
}
.card .text-sm,
.card .text-lg{
    margin-bottom: 1.5rem;
}

.card .text-lg{
    font-weight: 700;
    color: var(--color-dark-gray);
}

.card .text-md{
    line-height: 1.6;
}

/* Colors */

.colors__top{
    text-align: center;
}

.colors__top .text-lg{
    margin-bottom: 10px;
}

.colors__top .headline{
    margin-bottom: 20px;
}

.colors__bottom{
    width: 100vw;
    max-width: 100%;
    display: flex;
}

.colors{
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.colors > img{
    height: 670px;
    cursor: pointer;
}

.colors__description{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 2rem;
    padding-left: 1.5rem;
    background: var(--color-dark-gray);
    opacity: 0;
    /* transform: translateX(-20%); */
    transition: all 300ms ease-in-out;
}


.colors__description > p{
    transition: all 300ms ease-in-out;
    font-weight: 700;
    transform: translateY(+20%);
} 


.colors:hover .colors__description{
    opacity: 0.7;
}

.colors:hover .colors__description > p{
    transform: translateY(0);
}

.color-left,
.color-right{
    font-size: 0;
}

/* colors__full */

.colors__full{

    /* prevent event */
    position: fixed;
    top: 0;
    left: 0;
    background: var(--color-dark-gray);
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding: 7rem 3rem;
    z-index: 20000;
    cursor: default;
}
.full__top{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.full__top .headline{
    margin: 1.5rem;
}

.full__top {
    margin-bottom: 5rem;
}
.full__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.full__bottom .full__img{
    width: 700px;
    margin-right: 3.5rem;
}

.full__bottom .text-lg{
    text-align: left;
    line-height: 2;
}

.full__top .fa-times{
    color: var(--color-white);
    font-size: 1.5rem;
    border: 1px solid var(--color-white);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 10%;
    cursor: pointer;
}

.colors__full.hide{
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 670px;
    background: transparent;
}

.colors__full.hide * {
    display: none;
}

.colors__bottom.dontclick{
    pointer-events: none;
} 

.colors__bottom.dontclick i{
    pointer-events: auto;
}

/* Reservation */
#reservation{
    background: linear-gradient(var(--color-white), transparent 50%), url(../img/main_reserv.png) no-repeat center/cover;
}

#reservation .container{
    height: 100vh;
    text-align: center;
    position: relative;
}

.reservation__content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.reservation__content .text-extra-lg{
    font-weight: 700;
    margin-bottom: 3rem;
    line-height: 1.6;
}

.reservation__btn{
    width: 30px;
}
.reservation__btn span{
    font-weight: 700;
    border: 1px solid var(--color-white);
    border-radius: 30px;
    padding: 1rem 1.5rem;
    transition: all 300ms ease-in;
}

.reservation__btn span:hover{
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    background: rgba(255, 255, 255, 0.3)
}

/* Map */


#map {
    height: 500px;
    width: 100%;
    position: relative;
}

#map:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    z-index: 1;
}
#map:before{
    content: '서울시 관악구 신림동 keduit';
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background: var(--color-black);
    z-index: 2;
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-white);
    padding: 13rem 1.5rem;
    opacity: 0.5;
    font-weight: 700;
}

/* animation */

@keyframes scale{
    0%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeup{
    0%{
        transform: translateY(25%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes width{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
        opacity: 1;
    }
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }

    100%{
        opacity: 1;
        transform: rotate(-360deg);
    }
}

@keyframes fadedown{
    0%{
        transform: translateY(25%);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }

}

@keyframes fade{
    100%{
        opacity: 1;
    }
}

@keyframes slide {
    0% {margin-left:0;} /* 0 ~ 10  : 정지 */
    10% {margin-left:0;} /* 10 ~ 25 : 변이 */
    25% {margin-left:-100%;} /* 25 ~ 35 : 정지 */
    35% {margin-left:-100%;} /* 35 ~ 50 : 변이 */
    50% {margin-left:-200%;}
    60% {margin-left:-200%;}
    75% {margin-left:-300%;}
    85% {margin-left:-300%;}
    100% {margin-left:0;}
  }