@import url("reset.css");
/* --color-primary / white / dark-gray / gray / black */
/* .logo >.headline >.text-extra-lg >.text-lg >.text-md > .text-sm
   .white{color: var(--color-white);} */

input{
    display: inline-block;
    outline: none;
}
#form{
    padding-top: 100px;
    margin-top: 3rem;
    text-align: center;
    padding-top: 0%;
}
.sistemap{
    padding: 1rem;
    padding-right: 80%;
}


#form .container{
    padding: 1rem 3rem 7rem;
    border-color: rgba(197, 164, 126, .4);
}

#form .container.two{
    padding-bottom: 7rem;
}

.title{
    display: flex;
    position: relative;
}
.title h1{

    text-align: center;
    padding: 1rem 2rem;
    border-top: 2px solid var(--color-primary);
    border-left: 2px solid var(--color-primary);
    border-right: 2px solid var(--color-primary);
    position: relative;
}

.title .line{
    display: inline-block;
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--color-gray);
    opacity: .7;
    bottom: -48px;
}

.line {
    margin: 3rem 0;
    content: '';
    position: relative;
    width: 100%;
    height: 1px;
    background-color: var(--color-gray);
    opacity: .7;
}

.name_main{
    padding-right: 30%;
    font-size: 1rem; 
    text-align: center;
    width: 6rem;
    display: inline-block;
    color: black;
    margin: 0.2px;

}

#name {
    padding: 1.1rem;
    margin: 1rem;
    border: 1px solid var(--color-primary);
    border-color: rgba(197, 164, 126, .4);
    border-radius: 4px;
    text-align: center;
    width: 30.5rem;   
    margin-bottom: 2rem;
}

.phone_main{
    padding-right: 30%;
    font-size: 1rem;
    text-align: center;
    width: 6rem;
    display: inline-block;
    color: black;
    margin: 0.2px;
}


#phone{
    border-style:solid;
    border: 1px solid var(--color-primary);
    border-color: rgba(197, 164, 126, .4);;
    padding: 1.1rem;
    margin: 1rem;
    width: 30.5rem;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    margin-bottom: 2rem;
}

.pet_main{
    padding-right: 30%;
    width: 6rem;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    color: black;
    margin: 0.2px;
}

.pet_sub{
    border-style:solid;
    border: 1px solid var(--color-primary);
    border-color: rgba(197, 164, 126, .4);;
    padding: 1.1rem;
    margin: 1rem;
    width: 30.5rem;
    /* font-size: 1.2rem; */
    text-align: center;
    display: inline-block;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.service_main{
    padding-right: 30%;
    font-size: 1rem;
    text-align: center;
    width: 6rem;
    display: inline-block;
    color: black;
    margin: 02px;
}

.service{
    border-style:solid;
    border: 1px solid var(--color-primary);
    border-color: rgba(197, 164, 126, .4);;
    padding: 1.1rem;
    margin: 1rem;
    width: 30.5rem;
    /* font-size: 1.2rem; */
    text-align: center;
    display: inline-block;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.date_main{
    padding-right: 30%;
    width: 6rem;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    color: black;
    margin: 0.2px;
}

#date{
    border-style:solid;
    border: 1px solid var(--color-primary);
    border-color: rgba(197, 164, 126, .4);;
    padding: 1.1rem;
    margin: 1rem;
    width: 30.5rem;
    /* font-size: 1.5rem; */
    text-align: center;
    display: inline-block;
    margin-bottom: 2rem;
}

.open{
    font-size: 25px;
    text-align: center;
    margin: 1rem;
    margin-top: 1.2rem;
}

.fa-angle-down{
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.time_main{
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
}

.time{
    padding-bottom: 5rem;
}
.address_main{
    padding-right: 30%;
    width: 6rem;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    margin: 0.2px;
    color: black;

}
.address_im{
    border-style:solid;
    border: none;
    /* border: 1px solid var(--color-primary); */
    border-color: rgba(197, 164, 126, .4);
    padding: 1.1rem;
    margin: 1rem;
    width: 30.5rem;
    font-size: 0.8rem;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.address_postcode {
    border-style:solid;
    border: 1px solid var(--color-primary);
    border-color: rgba(197, 164, 126, .4);;
    padding: 1.1rem;
    margin: 1rem;
    width: 30.5rem;
    font-size: 0.8rem;
    text-align: center;
    display: inline-block;
}
.address_road {
    border-style:solid;
    border: 1px solid var(--color-primary);
    border-color: rgba(197, 164, 126, .4);;
    padding: 1.1rem;
    margin: 1rem;
    width: 30.5rem;
    font-size: 0.8rem;
    text-align: center;
    display: inline-block;
}

.address_jibun {
    border-style:solid;
    border: 1px solid var(--color-primary);
    border-color: rgba(197, 164, 126, .4);;
    padding: 1.1rem;
    margin: 1rem;
    width: 30.5rem;
    font-size: 0.8rem;
    text-align: center;
    display: inline-block;
}

.address_detail {
    border-style:solid;
    border: 1px solid var(--color-primary);
    border-color: rgba(197, 164, 126, .4);;
    padding: 1.1rem;
    margin: 1rem;
    width: 30.5rem;
    font-size: 0.8rem;
    text-align: center;
    display: inline-block;
}

.Enter{
    font-weight: 700;
    border: 1px solid var(--color-primary);
    border-radius: 30px;
    padding: 1rem 1.5rem;
    transition: all 300ms ease-in;
    color: var(--color-primary);
    background: rgba(255, 255, 255, 0.3);
    margin-top: 15px;
    
}

form input{
    border-radius: 5px;
}

.item{
    width: 30.5rem;
    text-align: left;
}

