
*,*::before,*::after{padding: 0;margin: 0;box-sizing: border-box;}
/* 100, 300, 400, 500, 700 */
body{font-family: 'Noto Sans KR', sans-serif;}
a{text-decoration: none;color: var(--color-dadrk-gray);}ul{list-style: none;}img{width: 100%;max-width: 100%;}
button{background: transparent; cursor: pointer; border: none; outline: none;}

.container{width: 100%;max-width: 1200px;margin: auto;}

:root{
    /* color */
    --color-primary: #c5a47e;
    --color-white: #ffffff;
    --color-dark-gray: #4d4d4d;
    --color-gray: #616161;
    --color-black: #000000;
}

/* Font size */
.headline {font-size: 2rem;font-weight: 700;}
.text-extra-lg {font-size: 1.8rem;font-weight: 700;}
.text-lg {font-size: 1.2rem;font-weight: 300;color: var(--color-dark-gray);}
.text-md {font-weight: 400;font-size: 1rem;color: var(--color-gray);}
.text-sm {font-size: 0.9rem;color:var(--color-gray);font-weight: 700;}
.white{color: var(--color-white);}
