@import url("reset.css");
/* --color-primary / white / dark-gray / gray / black */
/* .logo >.headline >.text-extra-lg >.text-lg >.text-md > .text-sm
   .white{color: var(--color-white);} */
#login{
    margin-top: 3rem;
    text-align: center;
}
input{
    display: inline-block;
}
#form{
    padding-top: 100px;
}

#login{
    padding-top: 0%;
}

#form .container{
    padding: 1rem 3rem;
}


.title{
    display: flex;
    position: relative;
}
.title h1{

    text-align: center;
    padding: 1rem 2rem;
    border-top: 2px solid var(--color-primary);
    border-left: 2px solid var(--color-primary);
    border-right: 2px solid var(--color-primary);
    position: relative;
}

.title .line{
    display: inline-block;
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--color-gray);
    opacity: .7;
    bottom: -48px;
}

.line {
    margin: 3rem 0;
    content: '';
    position: relative;
    width: 100%;
    height: 1px;
    background-color: var(--color-gray);
    opacity: .7;
}

.name_main{
    padding-right: 48%;
    font-size: 1rem; 
    text-align: center;
    width: 6rem;
    display: inline-block;
    color: black;
    margin-bottom: 5px;
    
}

#name {
        padding: 0.8rem;
        border: 1px solid var(--color-primary);
        border-color: rgba(197, 164, 126, .4);
        border-radius: 4px;
        text-align: center;
        width: 30.5rem;   
        margin-bottom: 10px;
         
}

.tel_main{
    padding-right: 48%;
    font-size: 1rem;
    text-align: center;
    width: 6rem;
    display: inline-block;
    color: black;
    margin-bottom: 5px;
}


#tel{
    padding: 0.5rem ;
    border: 1px solid var(--color-primary);
    border-color: rgba(197, 164, 126, .4);
    border-radius: 4px;
    width: 10rem;
    text-align: center;
    margin-bottom: 10px;
}

.pet_main{
    padding-right: 48%;
    width: 6rem;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    color: black;
    margin-bottom: 5px;
}

.pet_sub{
    border-style:solid;
    border: 1px solid var(--color-primary);
    border-color: rgba(197, 164, 126, .4);;
    padding: 0.5rem;
    width: 30.5rem;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
}

.service_main{
    padding-right: 48%;
    font-size: 1rem;
    text-align: center;
    width: 6rem;
    display: inline-block;
    color: black;
    margin-bottom: 5px;
}

.service{
    border-style:solid;
    border: 1px solid var(--color-primary);
    border-color: rgba(197, 164, 126, .4);;
    padding: 0.5rem;
    width: 30.5rem;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
}

.date_main{
    padding-right: 48%;
    width: 6rem;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    color: black;
    margin-bottom: 5px;
}

#date{
    border-style:solid;
    border: 1px solid var(--color-primary);
    border-color: rgba(197, 164, 126, .4);;
    padding: 0.5rem;
    width: 30.5rem;
    font-size: 1.2rem;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
}

.open{
    font-size: 25px;
    text-align: center;
    padding: 50px;
    margin: auto;
}

.time_main{
    font-size: 1.2rem;
    padding: 60px;
    padding-top: 5rem;
    margin: auto;
}

.time{
    padding-bottom: 5rem;
}
.address_main{
    padding-right: 48%;
    width: 6rem;
    font-size: 1.2rem;
    text-align: center;
    display: inline-block;
    color: black;
    margin-bottom: 5px;

}
.address_sub_add{
    border-style:solid;
    border: 1px solid var(--color-primary);
    border-color: rgba(197, 164, 126, .4);;
    padding: 0.5rem;
    width: 30.5rem;
    font-size: 1.2rem;
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
}
.address_sub{
    border-style:solid;
    border: 1px solid var(--color-primary);
    border-color: rgba(197, 164, 126, .4);;
    padding: 0.5rem;
    width: 30.5rem;
    font-size: 1.2rem;
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
}


#address{
    border-style:solid;
    border: 1px solid var(--color-primary);
    border-color: rgba(197, 164, 126, .4);;
    padding: 0.5rem;
    width: 30.5rem;
    font-size: 1.2rem;
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
}


.Enter{
    font-weight: 700;
    border: 1px solid var(--color-primary);
    border-radius: 30px;
    padding: 1rem 1.5rem;
    transition: all 300ms ease-in;
    color: var(--color-primary);
    background: rgba(255, 255, 255, 0.3);
    margin-top: 15px;
    
}

