:root{
    /* color */
    --color-primary: #cc89df;
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* size */
    --border-radius: 35px;
}

/* main */

#main{
    background: url(../video/main.mp4);
}
.main_container {
    position: relative;
    justify-content: center;
    max-width: 80vw;
}

.main__title{
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-45%, -30%);
    color: var(--color-white);
    letter-spacing: 2px;
}

.main__title span{
    letter-spacing:5px;
    line-height: 1.4;
}

/* Service */

#service{
    /* padding-top: 3rem; */
}

#service .container .text-lg{
    text-align: center;
    line-height: 1.5;
}
.service__cards{
    margin-top: 2rem;
}

.card{
    /* background: center/cover no-repeat url(../img/main-bg.png); */
    background: #dacdfac7;
    text-align: center;
    padding: 1rem 4rem;
    margin: 0.4rem 0.2rem;
    transition: all 300ms ease-in;
}

.card__icon img{
    width: 200px;
    height: 200px;
    transition: all 300ms ease-in;
}

.card__icon:hover img{
    transform: rotate(10deg);
}

.card:hover{
    background: var(--color-white);
}

.card__description .text-sm{
    margin-top: 0.5rem;
}

/* Price */
#price{
    padding: 5rem 1rem;
    background: var(--color-yellow);
}

#price .container{
    justify-content: space-between;
}
.price__left{
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    position: relative;
}

.price__left .text-lg{
    margin-bottom: 1rem;

}

.price__left .text-sm{
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 3rem;
}
.price__right{
    position: relative;
}

.price__card{
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    width: 50%;
}

.price__card.two{
    position: absolute;
    top: -20px;
    right: -20px;
}

/* Petsitter */
#petsitter{
    padding: 5rem 1rem;
    background: url(../img/main_petsitter.png) no-repeat right/contain;
}

#petsitter .container{
    justify-content: space-between;
}
.petsitter__left{
    flex-direction: column;
    align-items: flex-start;
}

.petsitter__left .text-lg{
    margin-bottom: 1rem;

}

.petsitter__right{
    height: 100%;
    justify-content: flex-end;
}

.petsitter__left .text-sm{
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 3rem;
}

.petsitter__card{ 
    text-align: right;
    position: relative;
    top: 105px;
    left: 0; 
}

.footer__inner{
    height: 150px;
}
@media only screen and (min-width: 1025px){
    .fullpage{
        height: 100vh;
        overflow: hidden;
        position: relative;
    }

    .fullpage .main_contents{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 560ms ease-out;
    }   

    section{
        margin: 0 auto;
        padding: 0;
    }

    .fullpage section{
        height: 100vh;
    }

    .footer__inner{
        display: absolute;
        z-index: 1;
        justify-content: space-between;
        padding: 1rem;
        background: var(--color-primary);
        opacity: 0.8;
        font-size: 0.9rem;
        top: 100%;
        left: 0;
        transform: translateY(-100%);
    }
        

    .mt{padding-top: 0;}
    #service{
        padding-top: 7rem;
        transform: translateX(8%);
    } 
    #price{
        padding: 12rem 5rem;
    }
    #petsitter{
        padding: 2rem 5rem;
    }
    .price__left{
        white-space: nowrap;
    }

    .price__right{
        position: relative;
        left: 3rem;
    }

    .price__card{
        width: 45%;
    }
    .price__card.two{
        position: absolute;
        top: -20px;
        right: 70px;
        transition: all 300ms ease-in-out;
        transform: rotate(-5deg);
    }

    .price__card.one{
        transition: all 300ms ease-in-out;
        transform: rotate(5deg);
        width: 40%;
    }

    .price__card.one:hover{
        transform: scale(1.1) rotate(0deg);
    }
    
    .price__card.two:hover{
        transform: scale(1.1) rotate(0deg);
    }
}

