:root{
    /* color */
    --color-primary: #cc89df;
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* size */
    --border-radius: 35px;
}

/* header */
.header__inner{
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    height: 120px;
    padding: 60px 100px;
    width: 100%;
    background: var(--color-white);
    z-index: 1;
}
.header__logo{
    width: 160px;
    padding: 10px;
    outline: none;
    border: none;
}
.header__menu__item{
    width: 110px;
    padding: 0.8rem;
    text-align: center;
    margin: 1rem;
    border: 2px solid transparent;
}
.header__menu__item.selected,
.header__menu__item:hover {
    border: 2px solid var(--color-primary);
    background-color:var(--color-primary);
    border-radius: var(--border-radius);
    color: var(--color-white);
    /* font-weight: bold; */
}
.header__menu__item:hover {
    opacity: 0.8;
}

/* main */

#main{
    background: url(../video/main.mp4);
}
.main_container {
    position: relative;
    justify-content: center;
}

.main__title{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -30%);
    color: var(--color-white);
    letter-spacing: 2px;
}

.main__title span{
    letter-spacing:5px;
    line-height: 1.4;
}

/* footer */

.footer__inner{
    width: 100%;
    position: absolute;
    z-index: 1;
    justify-content: space-between;
    padding: 1rem;
    background: var(--color-primary);
    opacity: 0.8;
    font-size: 0.9rem;
}
.footer__left{
    flex: 0.7
}
.footer__right{
    width: 100%;
    flex: 0.3;
    text-align: right;
}

.footer__sns .fbx{
    justify-content: flex-end;
}
.footer__sns .fbx li{
    padding: 1px;
    font-size: 1.4rem;
}

.footer__sns .fbx li i {
    color: var(--color-white);
}
@media only screen and (min-width: 1025px){
    .fullpage{
        height: 100vh;
        overflow: hidden;
        position: relative;
    }

    .fullpage .main_contents{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 560ms ease-out;
    }   

    section{
        margin: 0;
    }

    .fullpage section{
        height: 100vh;
    }

    .footer__inner{
        top: 96%;
        left: 0;
        z-index: 2;
    }

}

