/* body, div, header, section, footer, ul, li, p, a, img, iframe, h1,
h2, h3, nav, i, span{padding: 0;margin: 0;box-sizing: border-box;} */
*{padding: 0;margin: 0;box-sizing: border-box; color: var(--color-dark-grey);}
body{/* 400, 700, 800 */font-family: 'Nanum Gothic', sans-serif;}
a{text-decoration: none;color: var(--color-black);}ul{list-style: none;}img{width: 100%;}
button{background: transparent; cursor: pointer; border: none; outline: none;}
.fbx{display: flex;align-items: center;}
video{width: 100vw;}
label{display: block;}
section{padding: 3rem 0;}
.container{width: 1400px; margin: 0 auto;max-width: 80%; padding: 80px 0;text-align: center;}

:root{
    /* color */
    --color-primary: #dacdfa;
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    
    /* size */
    --border-radius: 35px;
}

/* Font size */
.title{font-size: 5rem;font-weight: 700;}
.description{font-size: 1.5rem;}

.text-lg{font-size: 3rem;font-weight: 700;}
.text-md{font-size: 1rem;}
.text-sm{font-size: 0.9rem;}

.bd{font-weight: 700;}
.extra-bd{font-weight: 800;}
.text-primary{font-weight: 700;color:#cc89df;} 

/* arrow button */
.arrowUp{
    position: fixed;
    top: 80%;
    right: 10%;
    font-size: 2.5rem;
    line-height: 60px;
    width: 60px;
    height: 60px;
    background: var(--color-primary);
    border-radius: 50%;
    color: var(--color-white);
    opacity: 0;
    pointer-events: none;
    transition: all 200ms ease-in-out;
}

.arrowUp:hover{
    transform: scale(1.1);
}
.arrowUp.visible{
    opacity: 1;
    pointer-events: auto;
}

/* Button */

.btn {
    background-color: var(--color-primary);
    opacity: 0.9;
    padding: 0.6rem 1rem;
    border-radius: var(--border-radius);
    color: var(--color-white);
    font-size: 1rem;
    text-align: center;
}

.btn-lg{
    font-size: 1.6rem;
    padding: 0.8rem 2rem;
    font-weight: 800;
}